.filter-form {
    &__wrapper {
        display: flex;
        padding: 2.5px;
        :not(:last-child) {
            margin: 0 20px 0 0;
        }
    }
}

.input {
    padding: 2px 4px;
    &:disabled {
        cursor: not-allowed;
    }
}

.select {
    &:disabled {
        cursor: not-allowed;
    }
}