td,
th {
    text-align: left;
    padding: 0.5rem 1rem;
}

th {
    cursor: pointer;
}

.table__body .empty {
    position: relative;
    height: calc(100vh - 28px);
}

tbody tr {
    background-color: #ccc;
}

th {
    background: #444;
    color: #fff;
}

.table__th.active {
    color: green;
}