td,
th {
    text-align: left;
    padding: 0.5rem 1rem;
}

th {
    cursor: pointer;
    text-align: center;
}

.table-wrapper {
    height: calc(100vh - 28px - 38px);
    overflow: auto;
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px #ccc;
    }
    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px #ccc;
    }
    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.table {
    width: 100%;
}

.table__body .empty {
    position: relative;
    height: calc(100vh - 28px);
}

tbody tr {
    background-color: #ccc;
}

th {
    background: #444;
    color: #fff;
}

.table__th.active {
    color: green;
}
